<!DOCTYPE html>
<html>
<head>
  <title>Payment Successful</title>
</head>
<body>
  <h1>Payment Successful!</h1>
  <p>Session ID: <%= session.id %></p>
  <p>Amount Paid: $<%= (session.amount_total / 100).toFixed(2) %></p>
</body>
</html>
